:root {
  --radius: 5px;
  --padding: 5px;
}

.container {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    display: grid;
    grid-gap: 0px;
    grid-template-areas:
    "content1 content1 content1"
    "content4 content4 content4";
}

#content1 {
    background: #e0eaeb;
    border-radius: var(--radius);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    padding-left: var(--padding);
    padding-right: var(--padding);
    grid-area: content1;
    text-align: left;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
  
}

#content1 > div {
    background-color: white;
    grid-gap: 10px;
}

#content3 {
    background: #e0eaeb;
    padding-left: 100px;
    padding-right: 100px;
    grid-area: content3;
    height: 120px;
    display:grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 110px;
    grid-gap: 10px;
}
#content3 > div {
    background-color: white;
}


#content4 {
    background: white;
    border-radius: var(--radius);
    padding-top: var(--padding);
    grid-area: content4;
    display: grid;
    text-align: center;
    height: 950px;
    grid-template-columns:1fr 25fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

#content4 > div {
    background: white;}

#pdfs > div {
    color:black;
    font-size: 15;
    
}